<div>
  <div class="split left">
    <img class="background" src="{{ .Params.image | absURL }}" />
    <div class="centered">
      {{ partial "templates/split-view/countdown.html" .Site.Params.launch_date }}
    </div>
  </div>
  <div class="split right">
    <img class="logo" src="{{ .Site.Params.logo | absURL }}" />
    <div class="centered">
      <div class="texts">
        {{ with .Params.caption }}
          <p class="caption">{{.}}</p>
        {{ end }}
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
          <p class="subtitle">{{.}}</p>
        {{ end }}
      </div>
    </div>

    <div class="contact-box">
      <div class="social-medias">
        ..
      </div>
      <div class="contact-vias">
        <span><strong>Phone:</strong> {{ .Site.Params.phone }}</span>
        <span><strong>E-mail:</strong> {{ .Site.Params.mail }}</span>
      </div>
    </div>
  </div>
</div>