@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
  --main-color: #1d771d;
  --secondary-color: #eee;
  --text-color: #444;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;

    /*font-family: "Courier";*/
    font-family: 'Work Sans', sans-serif;
}


body {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

p {
    font-size: 1.1rem;
}

/* Thanks and reference to: https://www.w3schools.com/howto/howto_css_split_screen.asp */
/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: var(--main-color);
  color: #fff;
}

/* Control the right side */
.right {
  right: 0;
  background-color: var(--secondary-color);
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


/* My styles */
.left .centered, .right .centered {
  width: 90%;
}

.right {
  text-align: center;
}

.left .background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}

.left .countdown-timer {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
}

.right .logo {
  width: 30%;
  padding: 5rem 0;
}

.right .caption {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
}

.right .title {
  margin-top: 0.5rem;
}

.right .subtitle {
  opacity: 0.7;
}

.right .contact-box {
  position: absolute;
  bottom: 10%;
  width: 100%;
  opacity: 0.8;
}
.right .contact-box .via {
  padding: 0 0.5rem;
}

/* --- Countdown Timer --- */
.countdown-timer .timebox-container {
  display: inline-block;
  padding: 1rem;
}
.countdown-timer .timebox-container .timebox-number {
  font-size: 3rem;
  font-weight: bold;
}
.countdown-timer .timebox-container .timebox-unit {
  font-size: 1rem;
  font-weight: bold;
}