@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
  --text-color: #fff;
  --background-color: #eee;
  --font-family: 'Work Sans', sans-serif;

  --h1-size: 3rem;
  --h4-size: 1.7rem;
  --h5-size: 1.2rem;
  --p-size: 1.1rem;

  --countdown-timer-number-size: 1.2rem;
  --countdown-timer-unit-size: 1.2rem;
  --countdown-timer-days-number-size: 13rem;

  --logo-height: 70px;

  --vertical-line-color: var(--text-color);
  --left-color: var(--text-color);
  --right-color: var(--text-color);

  --left-line-color: var(--left-color);
  --left-timer-text-color: var(--left-color);

  --right-title-size: 3rem;
  --right-subtitle-size: 2rem;
  --right-label-background-color: var(--right-color);
  --right-label-color: #000;
}