@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
  --text-color: #fff;
  --background-color: #eee;
  --font-family: 'Work Sans', sans-serif;

  --h1-size: 3rem;
  --h4-size: 1.7rem;
  --h5-size: 1.2rem;
  --p-size: 1.1rem;

  --countdown-timer-number-size: 3rem;
}