@font-face {
  font-family: worksans-regular;
  src: url(../fonts/WOFF/WorkSans-Regular.woff);
}


html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;

    /*font-family: "Courier";*/
     font-family: worksans-regular;
}


body {
  background-color: #eee;
}

main {
  text-align: center;
}

h1 {
    font-size: 4rem;
}

h4 {
    font-size: 1.7rem;
}

h5 {
    font-size: 1.2rem;
}

p {
    font-size: 1.1rem;
}

.homepage-image {
  display: flex;
  margin: 3rem auto;
  object-fit: contain;
  height: 10rem;
}

.homepage-content {
  padding: 1rem;
  display: block;
  min-height: 

  opacity: 0.3;
}

#content {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  padding: 0 6rem; 
}