
/* TODO: Use css variables for easy overrided in templates */
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}


/* Helpers */
/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ---Components base style--- */

/* Countdown */
.countdown-timer .timebox-container {
  display: inline-block;
  padding: 1rem;
}
.countdown-timer .timebox-container .timebox-number {
  font-size: 3rem;
  font-weight: bold;
}
.countdown-timer .timebox-container .timebox-unit {
  font-size: 1rem;
  opacity: 0.7;
}