<div class="container">
    {{ if .Params.image }}
      <img class="background" src="{{ .Params.image | absURL }}" />
    {{ end }}

    <header>
      {{ if .Site.Params.logo }}
        <img class="logo" src="{{ .Site.Params.logo | absURL }}" />
      {{ end }}
    </header>

    <div class="center-container">
      <span class="caption">{{.Params.caption}}</span>
      <h1>{{.Title}}</h1>
      {{ if .Params.countdown_timer }}
        {{ partial "components/countdown/countdown.html" .Site.Params.launch_date }}
      {{ end }}
      {{ if .Params.subscription }}
        {{ partial "components/subscription/subscription.html" (dict "mail" .Site.Params.mail "button" "Suscribite!" ) }}
      {{ end }}
      <div class="content">
        {{.Content}}
      </div>

      {{ partial "components/socialbox.html" .Site.Params.socials }}
    </div>
</div>